body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  background: url("bg.jpg");
  background-size: cover;
  background-repeat: repeat-y;

}

.heading-tag{
  justify-content: center;
  text-align: center;

}
.container {
  width: 50%;
  margin: auto;
  padding: 50px;
  display: flex;
  justify-content: center;
}
.login-container, .registration-container {
  width: 100%;
  margin: auto;
}

.registration-btn,
.login-btn, .logout-btn {
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
  padding:9px 16px;
  margin: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.registration-btn:hover,
.login-btn:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.registration-btn:active,
.login-btn:active {
  position:relative;
	top:1px;
}

.login-btn-modal,.registrate{
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
  padding:9px 16px;
  margin: auto;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-left: 170px;

}

/* The Modal (background) */
.login-modal, .registration-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-left: 15%;
  left: 0;
  top: 0;
  width: 60%; 
  height: 50%; 
   /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
  align-content: space-around;
}

/* Modal Content */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  margin:5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-content: center;

}
.login-modal-content, .registration-modal-content {
  background-color: #fefefe;
  margin: 0% auto 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close-login-modal, .close-registration-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-login-modal:hover,
.close-login-modal:focus,
.close-registration-modal:hover,
.close-registration-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



